<!-- Card -->
<div class="container container mt-4 mb-5">
  <img class="imgsize7" src="assets/cdupng2.png" alt="Card image cap">
  <!--<h3 class="display-4 text-center"> Canal Digital Unificado </h3>-->
  <hr class="bg-dark mb-4 w-25">

  <div class="row">

    <div class="col-md-4" align="center">
      <div class="card">
        <img class="imgsize" src="assets/misproducts.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><b>MIS PRODUCTOS</b></h4>
          <p class="card-text">Consulta tus productos, el detalle y fechas de pago de cada uno.</p>
          <a class="btn btn-primary btn-lg" href="/productos" role="button" style="width: 50%"> IR</a>
        </div>
      </div>
    </div>

    <div class="col-md-4" align="center">
      <div class="card">
        <img class="imgsize2" src="assets/reportes.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><b>GENERACIÓN DE EXTRACTOS</b></h4>
          <p class="card-text">Genera extractos que te sirven de soporte para estar al tanto de tus productos</p>
          <a class="btn btn-primary btn-lg" href="/extractos" role="button" style="width: 50%"> IR </a>
        </div>
      </div>
    </div>

    <div class="col-md-4" align="center">
      <div class="card">
        <img class="imgsize2" src="assets/pagos.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><b>PAGOS</b></h4>
          <p class="card-text">Realiza tus pagos a traves de CDU de una forma facil y segura</p>
          <a class="btn btn-primary btn-lg" href="/pagos" role="button" style="width: 50%"> IR </a>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Card -->
